<div class="customer-service-page">
    <h1 class="page-title">Customer Service</h1>
    
    <div class="customer-service-content">
      <div class="contact-info">
        <h4>Contact Information</h4>
        <p>Email: kritikamishra@nagarro.com</p>
        <p>Phone: 8303262424</p>
        <p>Address: 402/4D/A, Prayagraj, UP</p>
      </div>
      
      <div class="faq-section">
        <h4>Frequently Asked Questions</h4>
        <ul class="faq-list">
          <li>
            <h5>How can I track my order?</h5>
            <p>To track your order, log in to your account on our website and go to the "Order History" section. There, you will find a list of your recent orders along with the corresponding tracking numbers.</p>
          </li>
          <li>
            <h5>How do I return or exchange a product?</h5>
            <p> We have a hassle-free return and exchange policy to ensure your satisfaction. If you're not completely satisfied with your purchase, you can initiate a return or exchange within 30 days of receiving the item.</p>
          </li>
          <li>
            <h5>What payment methods do you accept?</h5>
            <p>We accept various payment methods to provide convenience and flexibility to our customers. </p>
          </li>
        </ul>
      </div>
      
      <div class="contact-form-section">
        <h2>Contact Form</h2>
        <form class="contact-form">
          <input type="text" placeholder="Your Name" />
          <input type="email" placeholder="Your Email" />
          <textarea placeholder="Your Message"></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  