.container{
    margin-top: 30px;
}
.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .product-info {
    display: flex;
    align-items: flex-start;
  }
  
  .product-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-category,
  .product-description,
  .product-price {
    margin-bottom: 5px;
  }
  
  .product-quantity {
    display: flex;
    align-items: center;
  }
  
  .product-quantity button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ff6b6b; /* Use the desired warning color */
    color: #fff;
    border: none;
  }
  
  .product-quantity span {
    padding: 0 10px;
  }
  
  /* Ensure all images have the same size */
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Move the quantity buttons to the right */
  .product-quantity {
    margin-left: auto;
  }
  
  .product-info {
    align-items: center;
    margin-bottom: 10px;

  }
  
  
  .product-details {
    margin-bottom: 5px;
    margin-left: 70px;

  }
  
  .product-quantity {
    display: flex;
    align-items: center;
    margin-left: 400px;
    margin-bottom: auto;
    position: absolute;

  }
  
  .product-quantity button {
    margin: 0 5px;
  }


  .place-order-button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: 40px;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .place-order-button:hover {
    background-color: #45a049;
  }
  
  

  

  
 
